{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/bootstrap.css">
    <title>{{template "title"}}</title>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Главная</a>
            <div style="margin-right: auto; margin-top: 3px;">
                <a style="color: black; text-decoration: none;" href="/search">Поиск</a>
            </div>
            <div style="margin-left: auto; margin-top: 3px;">
                <a style="color: black; text-decoration: none;" href="/about">О приложении</a>
            </div>
        </div>
    </nav>
    {{template "content" .}}
</body>
</html>
{{end}}